<div class="about-content">
  <h1>אודות משרד עורכי דין כהן קזז ושות'</h1>
  <p>
    משרד עורכי דין כהן קזז ושות' הוקם במטרה לספק שירותים משפטיים מקיפים ומקצועיים בתחומים האזרחיים, המקרקעין, ודיני המשפחה. 
    אנו מחויבים להעניק ללקוחותינו ייעוץ משפטי איכותי ומעמיק תוך התאמה אישית לצרכים הייחודיים של כל לקוח ולקוח.
  </p>
  <div class="lawyer-info">
    <div class="lawyer">
      <img src="assets/images/ofra-kazaz2.jpg" alt="Ofra Kazaz" class="lawyer-photo">
      <h2>עו"ד עפרה קזז</h2>
      <p>
        עפרה קזז היא עורכת דין מוסמכת משנת 2017, בעלת תואר ראשון LLB מהקריה האקדמית אונו, מגשרת מוסמכת ומוסמכת לטפל בייפוי כוח מתמשך.
        עפרה היא עורכת דין מנוסה המתמחה בתחום האזרחי, המקרקעין ודיני המשפחה. היא החלה את דרכה המשפטית בשנת 2017 ומאז עבדה במשרד עורכי דין מוביל בו טיפלה במגוון רחב של תיקים משפטיים ועסקאות מקרקעין מורכבות. עפרה ייצגה לקוחות הן בבית המשפט והן מחוץ לו, והיא ידועה בזכות יכולותיה הגבוהות לנהל מו"מ ולהשיג תוצאות מיטביות עבור לקוחותיה. 
        בנוסף, עפרה היא מגשרת מוסמכת ובעלת ניסיון רב בפתרון סכסוכים מחוץ לכותלי בית המשפט. לפני כניסתה לתחום המשפטי, היא ניהלה משרד גדול לתיווך נדל"ן, שם רכשה ניסיון מעמיק והבנה רחבה בתחום הנדל"ן.
      </p>
    </div>
    <div class="lawyer">
      <img src="assets/images/hagai-cohen.jpg" alt="Hagai Cohen" class="lawyer-photo">
      <h2>עו"ד חגי כהן</h2>
      <p>
        חגי כהן הוא עורך דין מוסמך משנת 2019 ובעל תואר ראשון בהצטיינות במדעי הטבע מאוניברסיטת בר-אילן, וכן בוגר הפקולטה למשפטים LLB מאוניברסיטת בר-אילן בהצטיינות. חגי התמחה במשרד מוביל בתחום האזרחי-מסחרי, שם רכש ניסיון רב בטיפול בתיקים משפטיים מורכבים. 
        במהלך שלוש שנות עבודתו במשרד העוסק בתחום המיסים, חגי התמקצע בייעוץ וייצוג לקוחות בסוגיות מס מורכבות, תוך מתן דגש על מציאת פתרונות יצירתיים ופרקטיים ללקוחותיו. 
        <strong>הבנתו העמוקה של חגי בתחום מיסוי המקרקעין מעניקה ערך נוסף לכל לקוח בתחום המקרקעין והעסקאות, ומבטיחה פתרונות מס מיטביים בעסקאות נדל"ן מורכבות.</strong>
        חגי הוא גם מגשר מוסמך, ויכולתו לשלב ידע משפטי רחב עם הבנה טכנולוגית מתקדמת מאפשרת לו לספק שירותים משפטיים בסטנדרט גבוה במיוחד.
      </p>
    </div>
  </div>
</div>
