<app-navbar (sectionChange)="onSectionChange($event)"></app-navbar>
<div class="cover-image"></div>

<ng-container *ngIf="!isMobile()">
  <section *ngIf="currentSection === 'home'" class="fade-in">
    <app-home></app-home>
  </section>
  <section *ngIf="currentSection === 'about'" class="fade-in">
    <app-about></app-about>
  </section>
  <section *ngIf="currentSection === 'services'" class="fade-in">
    <app-services></app-services>
  </section>
  <section *ngIf="currentSection === 'contact'" class="fade-in">
    <app-contact></app-contact>
  </section>
</ng-container>

<ng-container *ngIf="isMobile()">
  <section id="home" #homeSection>
    <app-home></app-home>
  </section>
  <section id="about" #aboutSection>
    <app-about></app-about>
  </section>
  <section id="services" #servicesSection>
    <app-services></app-services>
  </section>
  <section id="contact" #contactSection>
    <app-contact></app-contact>
  </section>
</ng-container>
