<div class="services-content">
    <h1>תחומי התמחות</h1>
    <p>
      משרד עורכי דין כהן קזז ושות' מתמחה במגוון תחומים משפטיים על מנת לספק ללקוחותינו את השירותים המשפטיים המקצועיים ביותר:
    </p>
    <ul>
      <li>
        <h2>מקרקעין</h2>
        <p>עיסוק בעסקאות מקרקעין, מיסוי מקרקעין, נחלות, דירות מקבלן ועוד.</p>
      </li>
      <li>
        <h2>דיני משפחה וירושה</h2>
        <p>ייעוץ וייצוג בגירושין, הסכמים משפחתיים, צוואות, ייפוי כוח מתמשך ועוד.</p>
      </li>
      <li>
        <h2>גישור</h2>
        <p>גישור משפחתי ומסחרי לצורך פתרון סכסוכים בצורה יעילה וידידותית.</p>
      </li>
      <li>
        <h2>נושאים נוספים בתחום האזרחי</h2>
        <p>ייעוץ וייצוג במגוון נושאים אזרחיים נוספים בהתאם לצורכי הלקוחות.</p>
      </li>
    </ul>
  </div>
  