/* Global styles */
html {
    height: 100%;
   
    overflow-y: scroll; /* תמיד להציג את ה-scrollbar אנכי */
    overflow-x: hidden; /* מניעת גלילה חיצונית אופקית */
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: relative; /* Add this line */
}

 body {
    font-family: 'Assistant', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
    max-width: 1366px;
    margin:auto;
    border: 1.5px solid lightgray;
  }
  
  .cover-image {
    width: 100%;
    height: 400px;
    /*background-image: url('assets/images/cover.jpg'); *//* נתיב לתמונה שלך */
    background-image: url('assets/images/office3.jpg');
    background-size: cover;
    background-position: center;
  }

  .content-wrapper {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -50px; /* הרחקת התוכן כלפי מעלה כדי לחבר את החלקים */
  }

  .content {
    height: calc(100vh - 460px); /* גובה המסך פחות גובה ה-navbar וה-cover */
    overflow-y: auto;
  }
  
  section {
    padding: 30px 20px;
  }
  
  #home, #about, #services, #contact {
    margin-top: 0px;
  }
  
  /* Styles for individual components */
  .home-content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    direction: rtl; /* כיוון הטקסט מימין לשמאל */
    text-align: right; /* יישור הטקסט לימין */
  }
  
  .home-content h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .home-content p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .home-content h2 {
    font-size: 1.5em;
    color: #444;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .home-content ul {
    list-style-type: disc;
    margin-right: 20px; /* מיקום הרשימה */
  }
  
  .home-content ul li {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
  }
  
  /* עיצוב ה-scrollbar */
::-webkit-scrollbar {
    width: 8px; /* רוחב ה-scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* צבע המסלול */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* צבע ה-thumb */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* צבע ה-thumb בעת ריחוף */
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.visible {
    opacity: 1;
}

